div#ibx.ibox
    div.ibox-title
        h5 Rich Text Editor
        div.ibox-tools
            a.close-link(ng-click="remove({item : RichTextFlair})")
                i.fa.fa-times
    div.ibox-content
        div.summernote