div.row.wrapper.border-bottom.white-bg.page-heading
  div.col-sm-12
    br
    ol.breadcrumb
      li
        a(href="#") FlairBoard
      li.active
        strong Welcome
div.row
    div.col-lg-12
        div.wrapper.wrapper-content
            div.middle-box.text-center.animated.fadeInRightBig
              h3.font-bold Welcome
              div.error-desc You can add items and create any layout you want here. Select an existing board on the left or click bellow to create a new one.
                  br
                  a.btn.btn-primary.m-t(ng-click="newBoard()") New Board
