html
  head
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(charset="utf-8")
    title FlairBoard | About
    script(type="text/javascript" src="/scripts/jquery-2.1.1.js")
    script(type="text/javascript" src="/scripts/plugins/jquery-ui/jquery-ui.js")
    script(type="text/javascript" src="/scripts/bootstrap.js")
    script(type="text/javascript" src="/scripts/plugins/slimscroll/jquery.slimscroll.min.js")
    script(type="text/javascript" src="/scripts/plugins/metisMenu/metisMenu.min.js")
    script(type="text/javascript" src="/scripts/plugins/pace/pace.min.js")
    link(rel="stylesheet",href="/css/bootstrap.css")
    link(rel="stylesheet",href="/css/animate.css")
    link(rel="stylesheet",href="/css/style.css")
    link(rel="stylesheet",href="/css/site.css")
    link(rel="stylesheet",href="/fonts/font-awesome.css")

    script(type="text/javascript" src="/scripts/landing.js")


body#page-top.landing-page
  div.navbar-wrapper
    nav(role="navigation").navbar.navbar-default.navbar-fixed-top
      div.container
        div.navbar-header.page-scroll
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(class="navbar-brand", href="dashboards") My Boards
        div#navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(class="page-scroll", href="#page-top") Home
            li
              a(class="page-scroll", href="#features") Features
            li
              a(class="page-scroll", href="#team") Team
            li
              a(class="page-scroll", href="#testimonials") Testimonials
            li
              a(class="page-scroll", href="#pricing") Pricing
            li
              a(class="page-scroll", href="#contact") Contact
  div(data-ride="carousel")#inSlider.carousel.carousel-fade
    ol.carousel-indicators
      li(data-target="#inSlider" data-slide-to="0" class="active")
      li(data-target="#inSlider" data-slide-to="1")
    div(role=listbox class="carousel-inner")
      div.item.active
        div.container
          div.carousel-caption
            h1 Flexible project management <br /> Customizable dashboards <br />
            p Sign up and give it a go
            p
             a(class="btn btn-lg btn-primary" href="#" role="button") READ MORE
          div.carousel-image.wow.zoomIn
            img(src="/images/landing/laptop.png" alt="laptop")
        div.header-back.one
      div.item
        div.container
          div.carousel-caption.blank
            h1 Great for planning Events,Trips <br /> or just keeping organised <br />
            p Sign up and give it a go
            p
              a(class="btn btn-lg btn-primary" href="#" role="button") Learn more
        div.header-back.two
    a(class="left carousel-control" href="#inSlider" role="button" data-slide="prev")
      span(class="glyphicon glyphicon-chevron-left" aria-hidden="true")
      span.sr-only Previous
    a(class="right carousel-control" href="#inSlider" role="button" data-slide="next")
      span(class="glyphicon glyphicon-chevron-right" aria-hidden="true")
      span.sr-only Next

  section#features.container.services
    div.row
      div.col-sm-3
        h2 Fully responsive
        p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.
        p
          a.navy-link(href="#" role="button") Details &raquo;
      div.col-sm-3
        h2 Cool Features
        p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.
        p
          a.navy-link(href="#" role="button") Details &raquo;
      div.col-sm-3
        h2 Flashy Stuff
        p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.
        p
          a.navy-link(href="#" role="button") Details &raquo;
      div.col-sm-3
        h2 Advanced stuff
        p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.
        p
          a.navy-link(href="#" role="button") Details &raquo;
  section.container.features
    div.row
      div.col-lg-12.text-center
        div.navy-line
        h1 All the features
          br
          span.navy and some extra ones
        p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.
    div.row
      div.col-md-3.text-center.wow.fadeInLeft
        div
          i.fa.fa-mobile.features-ico
          h2 Fully responsive
          p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.
        div.m-t-lg
          div.fa.fa-bar-chart.features-icon
          h2 Flashy Stuff
          p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.
      div.col-md-6.text-center.wow.zoomIn
        img(src="images/landing/perspective.png" alt="dashboard" class="img-responsive")
      div.col-md-3.text-center.wow.fadeInRight
        div
          i.fa.fa-envelope.features-icon
          h2 COOL FEATURES
          p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.
        div.m-t-lg
          i.fa.fa-google.features-icon
          h2 ADVANCED STUFF
          p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.
    div.row
      div.col-lg-12.text-center
        div.navy-line
        h1 Discover great features
        p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.
    div.row.features-block
      div.col-lg-6.features-text.wow.fadeInLeft
        small FlairBoard
        h2 Perfectly designed
        p Curabitur luctus risus ut lacus maximus volutpat. Sed vel condimentum quam. In id velit blandit, accumsan mi a, semper mauris. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla a tempus sem, a ultrices ex. Curabitur tempor ipsum ante, id consequat lacus dignissim et. Sed hendrerit augue vitae pretium auctor.
        a(href="").btn.btn-primary Learn more
      div.col-lg-6.text-right.wow.fadeInRight
        img(src="images/landing/dashboard.png")
  section#team.gray-section.team
    div.container
      div.row.m-b-lg
        div.col-lg-12.text-center
          div.navy-line
          h1 Our Team
          p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.
      div.row
        div.col-sm-4.wow.fadeInLeft
          div.team-member
            img(src="images/brock.jpg").img-responsive.img-circle.img-small
            h4
              span.navy Brock
              span Pibble
            p Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
             ul.list-inline.social-icon
               li
                 a
                   i.fa.fa-twitter
               li
                 a
                   i.fa.fa-facebook
               li
                 a
                   i.fa.fa-linkedin
        div.col-sm-4
          div.team-member
            img(src="images/me.jpg").img-responsive.img-circle
            h4
              span.navy Donovan
              span Humphries
            p Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
              ul.list-inline.social-icon
                li
                  a
                    i.fa.fa-twitter
                li
                  a
                    i.fa.fa-facebook
                li
                  a
                    i.fa.fa-linkedin
        div.col-sm-4.wow.fadeInRight
          div.team-member
            img(src="images/beans.jpg").img-responsive.img-circle.img-small
            h4
              span.navy Dem
              span  Beans
            p Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
              ul.list-inline.social-icon
                li
                  a
                    i.fa.fa-twitter
                li
                  a
                    i.fa.fa-facebook
                li
                  a
                    i.fa.fa-linkedin
      div.row
        div.col-lg-8.col-lg-offset-2.text-center.m-t-lg.m-b-lg
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.
  section.features
    div.container
      div.row
        div.col-lg-12.text-center
          div.navy-line
          h1 Even more great features
          p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.
      div.row.features-block
        div.col-lg-3.features-text.wow.fadeInLeft
          small FlairBoard
          h2 Perfectly designed
          p Curabitur luctus risus ut lacus maximus volutpat. Sed vel condimentum quam. In id velit blandit, accumsan mi a, semper mauris. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla a tempus sem, a ultrices ex. Curabitur tempor ipsum ante, id consequat lacus dignissim et. Sed hendrerit augue vitae pretium auctor.
          a.btn btn-primary Learn More
        div.col-lg-6.text-right.m-t-n-lg.wow.zoomIn
          img(src="images/landing/iphone.jpg" class="img-responsive" alt="dashboard")
        div.col-lg-3.features-text.text-right.wow.fadeInRight
          mall FlairBoard
            h2 Perfectly designed
            p Curabitur luctus risus ut lacus maximus volutpat. Sed vel condimentum quam. In id velit blandit, accumsan mi a, semper mauris. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla a tempus sem, a ultrices ex. Curabitur tempor ipsum ante, id consequat lacus dignissim et. Sed hendrerit augue vitae pretium auctor.
            a.btn btn-primary Learn More
  section#testimonials.navy-section.testimonials(style="margin-top: 0")
    div.container
      div.row
          div.col-lg-12.text-center.wow.zoomIn
            i.fa.fa-comment.big-icon
            h1 What our users say
            div.testimonials-text
              i "Simply the best!"
            small
              strong 30.01.2016 - Tina Turner

  section.comments.gray-section(style="margin-top: 0")
    div.container
      div.row
        div.col-lg-12.text-center
          div.navy-line
          h1 What our partners say
          p Donec sed odio dui. Etiam porta sem malesuada.
      div.row.features-block
        div.col-lg-4
          div.bubble "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
          div.comments-avatar
            a.pull-left
             img(src="images/landing/avatar3.jpg")
          div.media-body
            div.commens-name(class="text-muted") Andrew Williams
            small Company X from Somewhere
        div.col-lg-4
          div.bubble "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
          div.comments-avatar
            a.pull-left
              img(src="images/landing/avatar1.jpg")
          div.media-body
            div.commens-name(class="text-muted") Andrew Williams
            small Company X from Somewhere
        div.col-lg-4
          div.bubble "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
          div.comments-avatar
            a.pull-left
              img(src="images/landing/avatar2.jpg")
          div.media-body
            div.commens-name(class="text-muted") Andrew Williams
            small Company X from Somewhere
