script(type="text/javascript" src="/scrips/jquery-1.10.2.js")
script(type="text/javascript" src="/scrips/angular.js")
script(type="text/javascript" src="/scrips/angular-route.js")
script(type="text/javascript" src="/scrips/factories/AuthHttpResponseInterceptor.js")
script(type="text/javascript" src="/scrips/app/app.js")
script(type="text/javascript" src="/scrips/app/controllers/navigation-controller.js")